<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	
	<!-- 登录  用spring支持strut与Action类的链接 -->
	<!-- mgr采用 Spring依赖注入 -->
	<bean id="mgr" class="com.grq.controller.service.impl.ActionManagerImpl">
		<property name="userDAO" ref="hmpuserDAO"></property>
	</bean>	
	<bean id="hmpuserDAO" class="com.grq.model.dao.impl.UserDAOImpl">
		<property name="sessionFactory">
			<ref local="sessionFactory"/>		
		</property>	
	</bean>	 
	<bean id="springLoginAction" class="com.grq.controller.action.LoginAction">
		<property name="mgr" ref="mgr"></property>
	</bean>	
	
	<!-- 主页菜单按键向导Action类 -->
	<bean id="indexMenuAction" class="com.grq.controller.action.IndexMenuAction">
	</bean>	
	<!-- shark主页面Action类 -->
	<bean id="sharkAction" class="com.grq.controller.action.SharkAction">
	</bean>
	<!-- 后台页面Action类 -->
	<bean id="manageAction" class="com.grq.controller.action.ManageAction">
	</bean>
	<!-- 后台Product页面Action类 -->
	<bean id="productAction" class="com.grq.controller.action.product.ProductAction">
	</bean>
	
	<!-- 配置sessionFactory 添加hibernate文件支持，用hibernate.cfg.xml链接数据库 -->
	<bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="configLocation"	value="classpath:hibernate.cfg.xml"></property>
	</bean>	
</beans>